@import "../../ui/colors.scss";

.concert_tile {
  border-radius: 32px;
  aspect-ratio: 1/1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.concert_tile_background {
  @include bubbly;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 32px;
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: 0;
}

.concert_tile_textbox {
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.concert_tile_text {
  width: 100%;
  text-align: center;
}

.concert_tile:hover {
  .concert_tile_textbox {
    opacity: 1;
  }
}