@import "../colors.scss";

.card {
  display: flex;
  width: 100%;
  position: relative;
  background-color: black;
  box-shadow: 10px 4px 6px rgb(0, 0, 0);
}

.video {
  width: 100%;
}

.swiper {
}

.video_title {
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
  font-size: 18px;
}

.swiper_button {
  position: absolute;
  bottom: 50%;
  z-index: 100;
  color: $body-cream;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.disabled {
  opacity: 0.3;
}
