.spotify_placeholder {
  border: 2px solid #afafaf;
  height: 80px;
  width: 100%;
  border-radius: 12px;
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}